

:root{
  font-size: 18px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

body{
color: var(--gray30);
font-family: 'Roboto', sans-serif;
margin: 0;

}

a{
  color: var(--gray30);
}

header{
  font-size: 14px;
  color: var(--gray20);
  border: 1px solid red;
  width: 280px;
}

header a{
  color: var(--gray10);
  text-decoration: none;
}
header a:hover{
  color: var(--gray30);
}
nav details summary{
  font-weight: bold;
}

h1{
  font-size: 60px;
  margin-top: 64px;
  margin-bottom: 16px;
  /*margin-left: 20px;
  margin-right: 10px;
  /* margin: top right bottom left; */

}
/*h1 ~ p {
  margin-bottom: 64px;*/

hr{
  margin-bottom: 64px;
}
h2{
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3{
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}
pre{
  background: #FEC62E;
  padding: 40px;
  font-family:'Roboto';
  line-height: 24px;

}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  /*border: 10px solid red;*/
  border-left: 4px solid var(--gray30);
}

blockquote span {
  color: var(--gray10)
}
blockquote span::before{
  content: '-';
}

.main{
 border: 1px solid white;
}


.wrapper{
  width: 902px;
  margin: auto;
}
 .main-content{
   padding: 20px;
   background: white;

 }

/*.debug{
  /*border: 1px solid red;*/
  /*outline: 1px solid red;*/
  /*box-shadow: inset 0 0 0 50px red;*/

.hero{
  background-image: linear-gradient(to top, rgba(255,255,255, .3), transparent) , url('../images/pattern.png');
  height: 350px;
/*   background-repeat: no-repeat;*/
/*   background-position: left 50px bottom 50px;*/
/*   background-size: cover;*/
}

.section-content {
  margin-top: 164px;
}

.section-content:first-of-type{
  margin: 0;
}

.section-content ol li {
 line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
}

.section-content + hr {
  display: none;
}

.section-content img{
  margin-top: 40px;
}

.section-content{
  counter-reset: titleList;

}

.section-content h3{
  counter-increment: titleList;
  padding-bottom: 4px;
}
  .section-content h3::before{
  content: counter(titleList, decimal) '. ';
}

  .section-content h3::after{
  content: '';
  width: 32px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;

}